## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
csv_load = os.path.join('..','vacation_search','weatherpy_vacation.csv')
vacation_df = pd.read_csv(csv_load)
vacation_df.head()

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,3,Hasaki,JP,77.29,overcast clouds,35.7333,140.8333,Hotel Sunrise Choshi
1,6,Butaritari,KI,83.55,broken clouds,3.0707,172.7902,Isles Sunset Lodge
2,10,Kloulklubed,PW,88.30,overcast clouds,7.0419,134.2556,Storyboard Beach Resort
3,12,Bandar-E Lengeh,IR,87.21,scattered clouds,26.5579,54.8807,کافی نت پارس
4,20,Kapaa,US,84.18,light rain,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Tateyama"]
vacation_end = vacation_start
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Shingu"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Kure"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Katsuyama"]
vacation_start

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
81,314,Tateyama,JP,83.14,scattered clouds,34.9833,139.8667,Tateyama Seaside Hotel

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0],vacation_start['Lng'].to_numpy()[0]
end = start
stop1 = vacation_stop1['Lat'].to_numpy()[0],vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0],vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0],vacation_stop3['Lng'].to_numpy()[0]
start

(34.9833, 139.8667)

In [22]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig=gmaps.figure()
direction_layer=gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(direction_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [23]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3,vacation_end],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Weather,Lat,Lng,Hotel Name
0,314,Tateyama,JP,83.14,scattered clouds,34.9833,139.8667,Tateyama Seaside Hotel
1,402,Shingu,JP,76.73,scattered clouds,33.7333,135.9833,Shingu UI Hotel
2,478,Kure,JP,79.52,few clouds,34.2333,132.5667,Kure Station Hotel
3,430,Katsuyama,JP,81.30,few clouds,36.0617,136.5010,Pension UPO
4,314,Tateyama,JP,83.14,scattered clouds,34.9833,139.8667,Tateyama Seaside Hotel

In [25]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [26]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))